<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>The Apartment</title>
	<link rel="stylesheet" href="./style.css" type="text/css">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Gidole&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
</head>

<body>
	<section class="header-container">
		<h1>The Apartment</h1>
		<h2>By Pranav Krishnan</h2>

		<div class="image-container">
			
			<p class="film-content">
						<em>The Apartment</em> is a 1960 romantic comedy-drama film directed by Billy Wilder, starring Jack Lemmon, Shirley MacLaine, and Fred MacMurray. The story follows C.C. “Bud” Baxter, a lonely insurance clerk in New York City who, in hopes of advancing his career, allows company executives to use his apartment for their secret affairs. Complications rise when Bud falls for Fran Kubelik, the building’s elevator operator, unaware that she’s having an affair with his boss. Blending humor with emotional depth and sharp social insight, <em>The Apartment</em> shines a light on the darker side of corporate culture, exploring themes such as workplace exploitation, loneliness, mental health, and toxic relationships.
</p>
<img src="images/apartment.jpg" width="400">
		</div>

		<h2 class="film-theme">Workplace Exploitation</h2>
		<p class="film-content">
		Workplace exploitation is a central theme in <em>The Apartment</em>, as both Baxter and Fran are used by those in power for personal gain, with little regard for their emotional well-being. Baxter, desperate to climb the corporate ladder, gives up his home life to accommodate the secret affairs of his superiors. His apartment for him is not a personal space and more of a company resource, leaving him physically displaced and emotionally drained. Meanwhile, Fran is emotionally manipulated by Sheldrake, who promises love and commitment while using his position to control and exploit her. Both characters are caught in a cycle where their value is measured not by their own personal values, but by how useful they are to those above them. The film is timeless in how easily personal lives can be commodified in a professional setting, shedding light on the psychological damage caused when workers are viewed not as people, but as tools for others’ convenience and advancement. The worrying part is today, this is more rampant than ever before.
</p>

		<h2 class="film-theme">Loneliness</h2>
		<p class="film-content">
		Throughout the entire movie we are able to resonate with Baxter’s loneliness through both the directing brilliance of Billy Wilder and the events in the story. The fact that he gives out his apartment to his coworkers means that he has to stay late at the office and kill time out of the house to give them time to carry on their affairs. Even at the start of the movie Baxter’s department manager Al Kirkeby makes an impulsive call to Baxter requesting to use his apartment late at night after meeting a girl at a bar. Baxter was forced to sleep on a park bench for the entire night and immediately in the morning he rushed to his office for his corporate work. This makes him live a very solitary life with only his neighbors to call his “friends.” Baxter has both the soulless corporate life and the inability to have a personal life without even having a place to call his home. Even when he has his home to himself, he is all the more lonely, heating up a pre-made dinner and eating it in front of the television. Thus, we see that even though Baxter is ostensibly living the dream by working at a high-powered office in New York City and living on the Upper West Side, the reality of his existence is actually quite lonely and solitary. It is not until he meets Fran that he begins to open up and find human connection. His story is eerily  similar to how some people live their lives today, especially during Covid-19. When jobs transitioned to work from home and many others lost their jobs, the daily lives of people were no different from his other than leaving or renting their homes, highlighting the loneliness epidemic today and most importantly their effects on one’s mental health.
</p>

<h2 class="film-theme">Suicide / Mental Health</h2>
		<p class="film-content">
		Baxter and Fran, the elevator operator that Baxter falls in love with, both attempt suicide at one point in the story. After Sheldrake, Baxter’s manager, leaves Fran on Christmas Eve with a false promise to leave his wife, the hurt and hopelessness leads Fran to down a bottle of sleeping pills. Even after she is cured by his neighbor Dr. Dreyfuss, she confesses to Baxter that she cannot help but love Sheldrake. Baxter then shares his own story of heartbreak, in which he had an affair with a friend's wife, she rejected him, and he tried to shoot himself, but ended up accidentally shooting himself in the knee. Both these characters are so emotionally dry and inexperienced to handle their own emotions that suicide seemed like their only way out of their emotional turbulence. Their mental fortitude and emotions are drained by their repetitive task of pressing buttons in an elevator or working a soulless corporate job surrounded by hundreds of people with no time or space for privacy or personal reflection. With Baxter being unable to even take comfort in his own home, his mental health was dire the entire movie. It is only after he finds Fran that he finds true fulfillment in his life.
</p>

		<iframe width="840" height="472" src="https://www.youtube.com/embed/GpTa7kgLqrU?si=1T7SSfuUdFkYkzFT" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
	</section>

	
	<hr>

  <a href="/" class="home-link">HOME</a>

</body>

</html>
