<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Full Filmography</title>
	<link rel="stylesheet" href="./style.css" type="text/css">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Gidole&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
</head>

<body>
	<section class="header-container">
		<h1>Filmography</h1>


	</section>

	
	<hr>

  <a href="/" class="home-link">HOME</a>

</body>

</html>