<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Teach Billy Wilder</title>
	<link rel="stylesheet" href="./style.css" type="text/css">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Gidole&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
</head>

<body>
	<section class="header-container">
		<h1>Teach Billy Wilder's IMPORTANT Films to UMD Students</h1>

		<a href="/join" class="petition-link">Express Your Interest</a>

		<div class="see-petition-container">
			<a href="/petition" class="see-petition">See who is interested</a>
		</div>

		<br><br>
		<img src="images/directing.jpg" alt="Photo of Billy Wilder" width="600" style="display:block; margin:0 auto; margin-bottom:1em;">

		<p class="film-content" style="margin-top: 50px;">Billy Wilder was one of the greatest directors and screenwriters of Hollywood’s golden age. He was widely recognized by many, being nominated for 21 Academy Awards and winning 6. But why learn about his films today? Outside of creating multiple acclaimed classics of American cinema, Wilder’s films discuss several important social issues. During his time in Hollywood, films were restricted by the Hays Code (the Motion Picture Production Code), a set of guidelines and restrictions which prohibited profanity, nudity, sex, and violence. In addition, there were restrictions on crime, religion, different nationalities, and even love on the big screen. Wilder explored many of these prohibited and controversial themes, such as gender identity, love, mental health, addiction, etc. These themes are just as, if not more, relevant in today’s world. We have written about five of Wilder’s films that we believe are extremely relevant today. We hope that students at UMD can learn about Wilder’s films and their increasing relevance in the modern world.</p>
	</section>

  <h2>Films</h2>

  <div class="filmography-container">
	<a href="/filmography" class="filmography">See full filmography</a>
  </div>

	<div class="movie-card-container">
		<a class="movie-card" href="/some-like-it-hot">
			<div class="movie-header">
				<h2 class="movie-title">Some Like It Hot</h2>
				<p class="movie-year">1959</p>
			</div>
			<p class="movie-description"><span class="italic">Some Like It Hot</span> is a classic comedy film which follows two musicians, Joe and Jerry, who witness a mob massacre and flee Chicago. They disguise themselves as women to join an all-female jazz band finding themselves in a hilarious situation, with romantic complications and misunderstandings, as they navigate their new female identities and the lives of the other band members.</p>

			<p class="themes">Themes</p>

			<div class="themes-container">
				<p class="theme-name">Gender Identity</p>
				<p class="theme-name">Love</p>
				<p class="theme-name">Tradition & Conservatism</p>
			</div>

			<div class="circle-container">
				<img class="movie-image" src="images/movie-covers/somelikeithot.jpg"/>
			</div>
		</a>

		<a class="movie-card" href="/the-apartment">
			<div class="movie-header">
				<h2 class="movie-title">The Apartment</h2>
				<p class="movie-year">1960</p>
			</div>
			<p class="movie-description">In <span class="italic">The Apartment</span>, insurance worker C.C. Baxter lends his Upper West Side apartment to company bosses to use for extramarital affairs. When his manager begins using the apartment in exchange for promoting him, Baxter is disappointed to learn that his boss's mistress is the elevator girl at work whom Baxter is interested in himself. Soon Baxter must decide between the girl he loves and the advancement of his career.</p>
			<p class="themes">Themes</p>

			<div class="themes-container">
				<p class="theme-name">Corporate Culture</p>
				<p class="theme-name">Workplace Exploitation</p>
				<p class="theme-name">Loneliness</p>
			</div>

			<div class="circle-container">
				<img class="movie-image" src="images/movie-covers/theapartment.webp"/>
			</div>
		</a>	

		<a class="movie-card" href="/ace-in-the-hole">
			<div class="movie-header">
				<h2 class="movie-title">Ace in the Hole</h2>
				<p class="movie-year">1951</p>
			</div>
			<p class="movie-description"><span class="italic">Ace in the Hole</span> follows cynical journalist Chuck Tatum, who manipulates the rescue of a trapped man in a collapsed cave to revive his career, prolonging the ordeal for publicity. As the media frenzy grows, Tatum’s ambition leads to tragic consequences, exposing the dark side of sensationalist journalism and public spectacle.</p>

			<p class="themes">Themes</p>

			<div class="themes-container">
				<p class="theme-name">Obsession with Scandals</p>
				<p class="theme-name">Ethical Journalism</p>
			</div>

			<div class="circle-container">
				<img class="movie-image" src="images/movie-covers/aceinthehole.jpeg"/>
			</div>
		</a>	

		<a class="movie-card" href="/the-lost-weekend">
			<div class="movie-header">
				<h2 class="movie-title">The Lost Weekend</h2>
				<p class="movie-year">1945</p>
			</div>
			<p class="movie-description"><span class="italic">The Lost Weekend</span> tells the story of Don Birnam, a struggling writer battling alcoholism over a harrowing four-day binge in New York City. As he spirals deeper into addiction, the film explores his inner torment, strained relationships, and the devastating grip of substance abuse.
			</p>

			<p class="themes">Themes</p>

			<div class="themes-container">
				<p class="theme-name">Substance Abuse</p>
				<p class="theme-name">Mental Health</p>
			</div>

			<div class="circle-container">
				<img class="movie-image" src="images/movie-covers/thelostweekend.webp"/>
			</div>
		</a>	

		<a class="movie-card" href="/sunset-boulevard">
			<div class="movie-header">
				<h2 class="movie-title">Sunset Boulevard</h2>
				<p class="movie-year">1950</p>
			</div>
			<p class="movie-description"><span class="italic">Sunset Boulevard</span> follows struggling screenwriter Joe Gillis, who becomes entangled with faded silent film star Norma Desmond. As Norma tries to stage a delusional comeback, their relationship turns toxic and tragic, exposing the dark, decaying underbelly of Hollywood fame.</p>

			<p class="themes">Themes</p>

			<div class="themes-container">
				<p class="theme-name">Fame</p>
				<p class="theme-name">Exploitation</p>
				<p class="theme-name">Desperation</p>
			</div>

			<div class="circle-container">
				<img class="movie-image" src="images/movie-covers/sunsetboulevard.webp"/>
			</div>
		</a>	


	</div>

</body>

</html>
