<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Some Like It Hot</title>
	<link rel="stylesheet" href="./style.css" type="text/css">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Gidole&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
</head>

<body>
	<section class="header-container">
		<h1>Some Like It Hot</h1>

		<div class="image-container">
			<img src="images/some_poster.png" width="400">
			<p class="film-content">
						In 1959, Billy Wilder directed and produced the American comedy Some Like It Hot, starring Marilyn Monroe, Tony Curtis, and Jack Lemmon. The film follows two musicians, Joe and Jerry, who witness a mob hit and flee by disguising themselves as women to enter an all-women band headed to Florida. As “Josephine” and “Daphne”, the pair try to maintain their secret identities while juggling with womanhood and romantic complications as Joe falls for the band’s singer Sugar Kane (played by Monroe), and Jerry catches the eye of an eccentric millionaire. This film is not only filled with witty dialogue and screwball comedy, but also the exploration of several progressive themes including gender identity, traditional versus conservative views, and love.
			</p>
		</div>

		<h2 class="film-theme">Gender / Love</h2>
		<p class="film-content">
		While on the surface Some Like It Hot seems to use Joe’s and Jerry’s cross-dressing conceit just for laugh, Billy Wilder quietly uses their disguises to probe the performance of gender in surprisingly sophisticated ways. By wearing women’s clothing and adopting new names and personas, the two protagonists not only hide their male identities, but they also learn how society expects “women” to look, speak, and behave. Their astonishment at the differential social freedoms and constraints imposed on their female personalities highlights how much of gender is a set of learned performances rather than an innate essence. For example, when they initially become Josephine and Daphne, they are immensely surprised at how difficult it is to walk in high heels even remarking “she must have some sort of built-in motors” when observing how easily Sugar Kane was able to move while in heels. While this line and “it must be the way the weight is distributed” both are designed for audience laughter, the comedic effect comes solely from the irony that walking in heels is not something women are innately good at, but because it is a societal expectation for women to wear heels, women become good at it through pressured practice. <br><br> Additionally, through their altered personas, they – and the audience – become directly exposed to some of the annoyances and hardships women specifically face. For instance, when entering a hotel elevator, Josephine attracts unwanted attention from a man which eventually turns into borderline physical / sexual assault shining light on how inappropriate certain men can be to women. Moveover, the film invites the audience to laugh with and not merely at these characters. Sugar Kane’s genuine warmth toward her new bandmates allows Joe and Jerry to personally experience female camaraderie, vulnerability, and indignity from the inside, long before later films and society would more overtly question strict gender binaries. And while much of the humour comes from classic slapstick and romantic misdirection, Wilder punctuates the finale with a surprising profound turn: when Jerry confesses that he’s a man, the millionaire he was courting retorts “Well, nobodys’ perfect”. That throwaway line subtly celebrates difference rather than condemning it was remarkably forward-looking for 1959 and plants a seed that not only allowed for overt explorations of gender identity in cinema, but also allows people to discuss gender identity even today.
		</p>

		<iframe width="840" height="472" src="https://www.youtube.com/embed/-mHhr-aaLnI?si=KvIaLZuRDBMhIFi7" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>

	</section>

	
	<hr>

  <a href="/" class="home-link">HOME</a>

</body>

</html>
