<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Sunset Boulevard</title>
	<link rel="stylesheet" href="./style.css" type="text/css">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Gidole&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
</head>

<body>
	<section class="header-container">
		<h1>Sunset Boulevard</h1>
		<h2>By Aman Kumar</h2>

		<div class="image-container">
			
			<p class="film-content">
						Sunset Boulevard is a widely acclaimed classic of American cinema. This black comedy/film noir follows Joe Gillis, a writer in Hollywood who is struggling to make ends meet. After a car chase, caused by running away from his financial troubles, Joe accidentally stumbles upon the mansion of Norma Desmond, an aging actress from the era of silent films. Learning that Joe is a writer, Norma sees a chance back into the spotlight. However, her obsession with fame leads Joe into a bizarre, dangerous, and tragic adventure. This film is Wilder’s sharp critique of Hollywood and the entertainment industry in general. Its examination of the writers of Hollywood, and obsession with fame are very relevant to this day. 

</p>
<img src="images/sunset.jpg" width="400">
		</div>

		<h2 class="film-theme">The Writers of Hollywood
</h2>
		<p class="film-content">
		Sunset Boulevard criticizes the treatment of writers in Hollywood, highlighting their underappreciation in the industry. This is shown in the beginning of the film, with Joe struggling to sell his scripts. He attempts to sell his story about a young baseball player to a movie producer named Sheldrake working at Paramount Pictures. As Joe pitches the idea, Sheldrake immediately guesses that the plot will involve the kid being forced to throw the world series.  As Joe keeps trying to pitch his story to Sheldrake, explaining who should be cast and how it would be inexpensive to shoot, a script reader named Betty tells Sheldrake what she thinks of the story: “It’s just a rehash of something that wasn’t very good to begin with.” Joe desperately tries to convince Sheldrake, saying that he just needs a job and the story is not meant to win an Academy Award. Sheldrake pokes fun at Joe and says there are no positions open. Joe leaves Paramount Pictures unsuccessful. This early scene captures Wilder’s criticism of Hollywood’s treatment of writers. It shows how Joe, a previously talented writer, has to sacrifice his creativity for a formulaic and predictable re-telling of a story. Even then, it is not enough for a job. As the film continues, Joe becomes more and more desperate for financial security, and decides to work on Norma’s screenplay. As he edits and revises the story, he explains it as “flat and trite, full of the usual clichés.” However, he continues working on it, sacrificing his creativity for financial security. Wilder is again showing Hollywood’s disregard for writers, and how they are forced to sacrifice creativity to have enough money to survive. Over 70 years later, this issue is just as relevant. In 2023, the Writers Guild of America (WGA) went on strike for 148 days (the second longest in history) to protest fair pay (<a href="https://www.brookings.edu/articles/hollywood-writers-went-on-strike-to-protect-their-livelihoods-from-generative-ai-their-remarkable-victory-matters-for-all-workers/">Kinder</a>). While this strike was mostly about protesting unfair compensation from streaming services and artificial intelligence, it still mirrors the issues shown in Sunset Boulevard: The unfair payment writers get and Hollywood’s exploitation of its overlooked creative minds. Joe’s cynical narration captures this frustration, stating, “audiences don't know somebody sits down and writes a picture; they think the actors make it up as they go along.” This sentiment resonates today, as writers continue to fight for recognition and fair treatment.</p>

<h2 class="film-theme">Obsession with fame
</h2>
		<p class="film-content">
		Another major theme explored in Sunset Boulevard is the obsession with fame. This is shown through Norma Desmond’s character. Norma was a star during the silent era of film, but her fame has faded away. However, she still holds on to the fame she once had, and obsesses over making a comeback. At first, Joe uses this to his advantage, telling her how her story will be a success and she will make a big return to the screen. However, as Joe moves into Norma’s mostly empty mansion, Norma’s obsession is further revealed, which is a driving factor in the plot of the film. Norma continues to delude herself, telling herself that she will make a comeback. She refuses to acknowledge that the times have changed, and continues to isolate herself from reality. Without spoiling the film, Norma’s delusions of past stardom lead to a dangerous fixation on reclaiming her fame at any cost, leading to a tragic spiral consuming not just herself, but everyone around her. This obsession is captured by one of Wilder’s most iconic lines of dialogue, where Norma says “I am big. It’s the pictures that got small.” This theme of obsession with fame still resonates today, and has expanded outside of Hollywood with the rise of social media. Social media allows people to easily see the luxurious lives of celebrities and influencers. “The traditional perception of fame was limited to and associated with only big musicians, politicians, sports stars, and actors — it’s no longer the case now since anyone can use social media to get attention and feel like a celebrity” (<a href="https://medium.com/illumination/why-everyone-wants-to-be-famous-and-why-its-a-problem-db34d9e0cb11">Yawari</a>). The idea of anyone becoming “famous” online has led to an influx of people pursuing fame on the internet. <a href="https://doi.org/10.1016/j.addbeh.2016.03.006">A 2017 study</a> found that this obsession with social media is significantly associated with narcissistic personality traits, suggesting users engage excessively to “feed the ego” and maintain a crafted public image. This mirrors Norma’s narcissistic personality, delusions, and the constant need for applause and attention. Wilder’s critique of fame and obsession is more relevant than ever 75 years later in today’s digital age. In addition to being one of the most iconic films in Hollywood history, Sunset Boulevard holds the important message that obsession with fame leads to isolation, delusion, and ultimately tragedy. </p>

		<iframe width="840" height="472" src="https://www.youtube.com/embed/jMTT0LW0M_Y?si=tNPcymT9GmC9kTwG" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
	</section>

	
	<hr>

  <a href="/" class="home-link">HOME</a>

</body>

</html>
