<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>The Lost Weekend</title>
	<link rel="stylesheet" href="./style.css" type="text/css">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Gidole&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
</head>

<body>
	<section class="header-container">
		<h1>The Lost Weekend</h1>
		<h2>By Zachary Green</h2>

		<div class="image-container">
			
			<p class="film-content">
						
<em>The Lost Weekend</em> portrays an unrelenting theme of alcoholism and addiction displayed through Don Birnam. Alcoholism plays a huge part in Don’s life and relationship, albeit not a good one. Such issues were largely overlooked in Hollywood at the time so the movie was a very grim portrayal. Wilder illustrates how alcoholism consumes Don, and all over a single weekend of booze filled activities. The film is very realistic, even more so because it is an older film with not very many dramatic effects.  Don experiences significant collateral damage because of his addiction. More specifically, his friends and the relationship with his family members deteriorates because of this. Wilder's illustration of Don’s illness will stay relevant 1000 years from now, given alcohol will always be around and unfortunately there will always be people struggling with the illness. Given the nature of the film and the time period it was produced in, it offers a very realistic view of the struggles he faces and as such could always be a good film to teach people about the dangers of alcohol. 
</p>
<img src="images/weekend.jpg" width="400">
		</div>

<h2 class="film-theme">Seeking Help</h2>
		<p class="film-content">
		Another theme from the movie is that of self destruction from not facing the truth and seeking help. He goes down a spiraling road that consists of: feeling guilty for his failures, which turns into shame, which turns into drinking and then that turns into more guilt. This cycle drives him towards oblivion, as the self destruction did not just stem from physical but moral and psychological as well. As Don says in the movie: "It shrinks my liver, doesn't it? It pickles my kidneys, yes. But what does it do to my mind? It tosses the sandbags overboard so the balloon can soar. Suddenly, I'm above the ordinary. I'm confident, supremely confident. I'm walking a tightrope over Niagara Falls. I'm one of the great ones." He uses alcohol as a means of feeling like something or someone more than himself. The alcohol actually gives him enough confidence to forget about his failures as a writer. The film shows Don’s drinking mainly stemming from his failure as a writer, through which he drinks to stem the pain he is facing. He knows that drinking will make all of this worse, yet still he goes down that road because he does not want to face his fears or failures. It would seem that Don had a profound sense of pride about his writing in which he had failed at and was not accountable for the reasons for his own failures. This was the start of his road to self destruction. Ironically, at the end of the movie what ultimately starts to help Don is his writing. It seems he finally tells the truth in his writing, which in many ways probably saved his life. 

	In the end there is hope for Don, as he has Helen at his side who has never given him up. Inner strength and facing the truth can lead Don out of the spiral he is already in, which can be a revelation for him. 
</p>

		<iframe width="840" height="472" src="https://www.youtube.com/embed/2iQpa9MNnVA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
	</section>

	
	<hr>

  <a href="/" class="home-link">HOME</a>

</body>

</html>
